/* added variables for colors to make changing palette easier*/
:root{
    --dark: #0D1F2D;
    --dark-gray: #546A7B;
    --cadet-gray: #9EA3B0;
    --misty-rose: #FAE1DF;
    --desert-sand: #E4C3AD;
}

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--cadet-gray);
}

.main-header{
    display: flex;
    position: fixed;
    height: 75px;
    width: 100%;
    background-color: var(--dark);
    justify-content: space-between;
    align-items: center;
}

.main-header h1{
    background-color: var(--dark);
    display: inline-block;
    font-size: 38px;
    color: var(--misty-rose);
    position: relative;
    padding-left: 30px;
}

nav{
    background-color: var(--dark);
}

nav ul{
    background-color: var(--dark);
    list-style-type: none;
}
nav ul li{
    background-color: var(--dark);
    display: inline-block;
}

.links a{
    text-decoration: none;
    font-size: 25px;
    padding: 0 60px;
    color: var(--misty-rose);
    flex-direction: row;
}

.links a:hover{
    color: var(--cadet-gray);
    transition: all 0.25s ease-in-out;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section-title{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    color: var(--dark);
    border-right: 3px solid var(--dark);
}

.about{
    display: flex;
    padding-top: 10%;
    align-items: center;
    justify-content: space-between;
}

.about figure #portrait{
    height: 280px;
    width: 280px;
    border: 3px solid var(--dark);
    border-radius: 50%;
}

.about p{
    margin-right: 45px;
    width: 50%;
    font-size: 115%;
    color: var(--dark);
    line-height: 150%;
}

.work{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10%;
    margin-bottom: 15%;
}

.work a{
    display: flex;
    text-decoration: none;
}

.feature-card{
    display: flex;
    flex-direction: column;
    border: 3px solid var(--dark);
    margin-left: 30px;
    border-radius: 50px;
    width: 500px;
    height: 400px;
    align-items: center;
    background-color: var(--dark-gray);
    justify-content:center;
}

.feature-card-header{
    height: 43px;
    background: none;
}

.feature-card-header h3{
    color: var(--misty-rose);
    background: none;
}

#challenge figure{
    background-color: var(--dark-gray);
}

#challenge figure img{
    height: 225px;
    width: 450px;
    object-fit: cover;
}

#challenge p{
    margin: 15px 15px 30px 15px;
    color: var(--misty-rose);
    background: none;
    text-decoration: none;
    text-align: center;
}

.card a section{
    display: flex;
    flex-direction: row;
    background: none;
    align-items: center;
}

.work-scrolling{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.little-card{
    justify-content: space-evenly;
    width: 400px;
    height: 115px;
    border: 3px solid var(--dark);
    border-radius: 36.5px;
    background-color: var(--dark-gray);
    margin: 20px 20px;
}

.little-card h3{
    color: var(--misty-rose);
    text-decoration: none;
    background-color: var(--dark-gray);
}

.little-card figure{
    display: flex;
    height: 50px;
    width: 50px;
    margin: 0;
    margin-left: 20px;
    align-items: center;
    background: none;
}

.little-card-image{
    height: 80px;
    width: 80px;
    background: none;
    border-radius: 50%;
}

.card-effect:hover{
    box-shadow: 0 0 30px var(--dark);
    opacity: 75%;
    transition: all 0.25s ease-in-out;
}

.arrow{
    margin: 15px;
    width: 35px;
    height: 65px;
    background-color: var(--dark-gray);
    border: 1.5px solid var(--dark);
    border-radius: 8px;
}

.arrow:hover{
    width: 35px;
    height: 65px;
    border: 1.5px solid var(--dark);
    border-radius: 8px;
    box-shadow: 0 0 15px var(--dark);
}

.arrow:active{
    width: 35px;
    height: 65px;
    border: 1.5px solid var(--dark);
    border-radius: 8px;
    box-shadow: inset 3px 3px 3px var(--dark);
}

/* #arrow-left{

} */

#arrow-right{
    margin-right: 25px;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2%;
}

.contact-form{
    display: flex;
    flex-direction: column;
    line-height: 150%;
    margin-left: 5%;
}

.textbox{
    background-color: whitesmoke;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

footer img{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    margin: 0 18px;
}

@media screen and (max-width: 1175px){
    .main-header{
        height: 110px;
        flex-direction: column;
        line-height: 10px;
    }

    .links a{
        padding: 0 30px;
    }

    .section-title{
        height: 50px;
        width: auto;
        border: none;
        border-bottom: 3px solid var(--dark);
        line-height: 100%;
        margin: 75px 0 50px 0;
        padding: 0 25% 50px 25%;
    }

    .about{
        padding-top: 100px;
        flex-direction: column;
        align-items: center;
    }

    .about p{
        width: 75%;
        text-align: center;
    }
    
    .work{
        flex-direction: column;
        align-items: center;
        justify-content: none;
    }

    .feature-card{
        margin: 0;
        margin-bottom: 25px;
    }

    #github{
        width: 500px;
        margin: 0;
        margin-bottom: 25px;
        align-self: center;
    }

    #youtube{
        margin: 0;
        align-self: center;
    }

    .contact{
        flex-direction: column;
    }

    .contact-form{
        margin: 0;
    }
    
}